<div class="main-explain-item-container" id="main-explain-item-container">
  <div id="close-explain-button" class="close-explain-button">
    <span class="batsu"></span>
  </div><!-- #close-explain-button -->
  <div class="main-explain-items">
    <div class="accrual-date-container">
      <p class="explain-text">発生日</p>
      <p id="accrual_date"></p>
    </div><!-- .accrual-date-container -->
    <div class="label-container">
      <p class="explain-text">名称</p>
      <p id="label"></p>
    </div><!-- .label-container -->
    <div class="abstract-container">
      <p class="explain-text">概要</p>
      <div class="abstract-body">
        <div class="abstract-body__inner">
          <p id="abstract"></p>
        </div><!-- .abstract-body__inner -->
      </div><!-- .abstract-container -->
    </div><!-- .abstract-container -->
  </div><!-- .main-explain-items -->
</div><!-- .main-explain-item-container -->
