#main-explain-item-container.main-explain-item-container
  #close-explain-button.close-explain-button
    span.batsu
  .main-explain-items
    .accrual-date-container
      p.explain-text
        | 発生日
      p#accrual_date
    .label-container
      p.explain-text
        | 名称
      p#label
    .abstract-container
      p.explain-text
        | 概要
      .abstract-body
        .abstract-body__inner
          p#abstract
