<div class="search-container">
  <label for="search-btn-check" class="header-menu" id="search-btn">
    <span class="magnifying-glass"></span>
    <span class="header-menu__label">Search</span>
  </label>
  <div class="search-items-container" id="search-items-container">
    <div id="search-items" class="search-items">
      <input type="search" id="search-box" class="search-box" placeholder="キーワードから出来事を検索">
    </div>
  </div>
</div>
