<div class="slider-items-container">
  <div class="slider-container" id="slider-container">
    <p class="era"><span id="current-value"></span> Year</p>
    <input type="range" id="era" min="-400" max="2000" step="100" value="1000">
  </div>
</div><!-- .slider-items-container -->
