<!DOCTYPE html>
<head>
  <title>History Map</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
</head>
<body>  
  <header>
      <h1 class="title">History Map</h1>  
  </header>
  <div class="main">
    <div class="tag-container"></div>
    <div class="main-container">
      <div class="main-container-left-item"></div>
      <div class="map-container">
        <div id='map'></div>
      </div>  
    </div>  
  </div>
  <script>
  function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.4036, lng: 139.4553},
    zoom: 4
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>
  <footer></footer>
</body>
