<!DOCTYPE html>
<head>
  <title>History Map</title>
</head>
<body>  
  <header>
      <h1 class="title">History Map</h1> 
      <input class="search" type="search"placeholder="キーワードを入力">
  </header>
  <div class="main">
    <div class="tag-container">
      <p>西暦<span id="current-value"></span>年代</p>
      <input type="range" id="era" min="-400" max="2000" step="100" value="1000">      
    </div>
    <div class="main-container">
      <div class="main-left-item-container">
        <div class="main-left-items">
          <div class="accrual-date-container">
            <p class="left-text">発生日</p>
            <p id='accrual_date'></p>
          </div>
          <div class="label-container">
            <p class="left-text">名称</p>
            <p id='label'></p>
          </div>
          <div class="abstract-container">
            <p class="abstract-text">概要</p>
            <p id='abstract'></p>
          </div>
        </div>
      </div>
      <div class="map-container">
        <div id='map'></div>
        <div id='marker-data' data-position=<%= @all_history_position %> ></div>
        <div id='history-data' data-history=<%= @all_history_data %> ></div>
      </div>  
    </div>  
  </div>
  <%= javascript_pack_tag 'application'%>
  <footer></footer>
</body>
