<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag 'maps', media: 'all', 'data-turbolinks': 'reload' %>
</head>
<body>
  <header>
    <div class="title-container">
      <a href="/about" class="title">
        <img class="logo" src="/icons/mapnica_logo.png">
      </a>
    </div>
      <div class="slider-items-container">
        <div class="slider-container" id="slider-container">
          <p class="era"><span id="current-value"></span> Year</p>
          <input type="range" id="era" min="-400" max="2000" step="100" value="1000">
        </div>
      </div>
        <div class="search-container">
          <label for="search-btn-check" id="search-btn"><span class="magnifying-glass"></span></label>
          <div class="search-items-container" id="search-items-container">
            <div id="search-items" class="search-items">
              <input type="search" id="search-box" class="search-box" placeholder="キーワードを入力">
            </div>
          </div>
      </div>
  </header>
    <div class="main-container">
      <div class="main-explain-item-container" id="main-explain-item-container">
        <div class="main-explain-items">
          <dl class="accrual-date-container">
            <div id="close-explain-button">
              <span class="batsu"></span>
            </div>
            <dt class="explain-text">発生日</dt>
            <dd id="accrual_date"></dd>
          </dl>
          <dl class="label-container">
            <dt class="explain-text">名称</dt>
            <dd id="label"></dd>
          </dl>
          <dl class="abstract-container">
            <dt class="explain-text">概要</dt>
            <dd id="abstract"></dd>
          </dl>
        </div>
      </div>
      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>
  <%= javascript_pack_tag "application" %>
</body>
