<!DOCTYPE html>
<head>
  <title>History Map</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
</head>
<body>  
  <header>
      <h1 class="title">History Map</h1>  
  </header>
  <div class="main">
    <div class="tag-container"></div>
    <div class="main-container">
      <div class="main-container-left-item">        
        <div id='accrual_date'>  </div>
        <div id='label'>  </div>
        <div id='abstract'>  </div>
      </div>
      <div class="map-container">
        <div id='map'></div>
        <div id='marker-data' data-position=<%= @all_history_position %> ></div>
        <div id='history-data' data-history=<%= @all_history_abstract %> ></div>
      </div>  
    </div>  
  </div>
  <%= javascript_include_tag "google-map-api" %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>
  <footer></footer>
</body>
