.static-text {
  width: 45rem;
  max-width: 100%;
  padding: 2rem 1rem 4rem;
  margin: 0 auto;
}

.static-text h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.static-text h2 {
  border-bottom: 1px solid #8b8b8b;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.static-text p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1em;
  line-height: 1.8;
}

.static-text ol {
  font-size: 1rem;
  list-style: decimal;
  line-height: 1.8;
  padding-left: 2rem;
  padding-bottom: 1em;
}

.about-logo-button {
  width: 200px;
  padding: .75rem 2rem;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  background-color: $main;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: $font;
  text-decoration: none;
  transition: all .2s ease-out
}

.about-logo-button:hover {
  opacity: 0.7;
}
