.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(black, .7);
  padding: .5rem 2rem;
  @media screen and (max-width: 480px) {
    padding: .25rem 1rem;
    justify-content: center;
  }
}

.footer__copyright {
  color: $font;
  font-size: .75rem;
  @media screen and (max-width: 480px) {
    font-size: .625rem;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -.375rem;
}

.footer-icons__item {
  padding: 0 .375rem;
}

.icon {
  width: 1.5rem;
  @media screen and (max-width: 480px) {
    width: 1.125rem;
  }
}

.fotter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.fotter-text p {
  display: block;
  margin-right: 1rem;
}

.fotter-text a {
  text-decoration: none;
  display: block;
}

.footer__logo {
  width: 5rem;
  margin-right: 1rem;
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
  }
}
