<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag 'welcomes', media: 'all', 'data-turbolinks': 'reload' %>
</head>
<body>
  <header>
    <div class="title-container">
      <a href="/" class="title">History<br><span class="mgr-10">Map</span></a>
    </div>
  </header>
  <div class="main-container">
    <p class="welcome-text">
      世界史地図(仮)<br>
      [世界史地図(仮)] というサービスは、<br>
      [世界史の出来事が地図上のどこで起きたのかわかりにくい] を解決したい<br>
      [世界史学習者] 向けの、<br>
      [地図検索サービス] です。<br>
      ユーザーは [世界史の出来事を年号やキーワードで検索すること] ができ、<br>
      [世界史の出来事が起きた場所をネット上で調査した後、その場所が地図上のどこにあるのかをGoogleMapで検索するの] とは違って、<br>
      [検索した世界史の出来事が起きた場所の位置が地図上に表示されること] が特徴です。<br>
    </p>
  </div>
  <footer class="footer">
    <div class="footer-icon">
      <a href="https://github.com/masamune17/history_map">
        <img class="icon" src="/icons/github.png">
      </a>
      <a class="footer-icon" href="https://twitter.com/Masamune_catcat">
        <img class="icon" src="/icons/twitter.png">
      </a>
    </div>
    <div class="fotter-text">
      <p>©2021　masamune17</p>
    </div>    
  </footer>
</body>
