:root {
  --header-height: 6rem;
}

html,body{
  padding:0;
  margin:0;
  height:100%;
  width: 100%;
}

header{
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #25282F;  
  color: white;
}

.title-container{
  height: 100%;
  width: 15%;
}

.title{
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.title:hover{
  opacity: 0.7;
}

.logo{  
  width: 90%;
}

span.mgr-10{
  margin-left: 10px;
}

.slider-items-container{
  box-sizing:border-box;
  height: 100%;
  width: 65%;  
}

.slider-container{
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  height: 50%;
  width: 100%;
}

.era{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
}

.search-container{
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.search-items-container{
  width: 95%;
  height: 25%;
  position: absolute;
  right: 5%;
  bottom: 10%;
  background:#eee;
}

.search-items{
  width: 100%;
  height: 100%;
}

input.search-box{
  box-sizing: border-box;
  width: 100%;
  background:#eee;
}

.search-results{
  padding: 10px;
  width: 90%;
  max-height: 400px;
  background:#eee;
  overflow-wrap: break-word;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
}

dl.search-result{
  cursor: pointer;
  border-bottom: solid 1px #888;
  margin-bottom: 10px;
}

dt.search-result{
  color: #555;
}

.search-result:hover,.search-result :hover{
  opacity: 0.6 ;
}

strong.matched_word{
  color: #000;
  font-weight: bold;
}

small.search-result{
  color: #555;
  border-bottom: solid 1px #888;
}

.main-container{
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 0px;
}

.main-explain-item-container{
  visibility: hidden;
  z-index: 1;
  position: absolute;
	width: 25%;
  max-height: 1080px;
  height: calc(100% - var(--header-height));
  opacity: 0;
  background-color:#ffffff;
}

.fadein-explain{
  animation: fadein-explain 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadein-explain {
  0% {    
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);    
    opacity: 1;
    visibility: visible;
  }
}

.fadeout-explain{
  animation: fadeout-explain 0.2s;
}

@keyframes fadeout-explain {
  0% {    
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateX(-100%);    
    opacity: 0;
    visibility: visible;
  }
}

.main-explain-items{
  height: 100%;  
}

.accrual-date-container{
  position: relative;
}

div#close-explain-button{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 1.5rem;
  width: 1.5rem;
}

#close-explain-button:hover{
  background-color: rgba(0,0,0,0.3);
  opacity: 0.7;
}

.accrual-date-container,
.label-container{
  box-sizing:border-box;
  height: 10%;
  padding: 10px;
}

.abstract-container{
  box-sizing:border-box;
  height: 80%;
  padding: 10px;
}

.explain-text{
  border-bottom: solid 1px #555;
  font-size: 1rem;
}

#accrual_date,
#label,
#abstract {
  font-size: 1rem;
  height: 90%;
  font-weight: bold;  
  box-sizing:border-box;
}

#label{
  overflow-x: auto;
}
#abstract {
  font-weight: bold;
  overflow-y: auto;
}

.map-container{
	width: 100%;
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
  display: inline-block;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: 90%;
  background-color: #fff;
  height: 5px;
  border-radius: 6px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance:none;
  background:white;
  height:20px;
  width:20px;
  border: solid 1px gray;
  border-radius:50%;
}

.labels {
  color: #ffffff;
  background: #000000;
  font-size: 1rem;
  text-align: center;
  padding: 2px 10px;
  border-radius: 8px;
}

#search-btn{
  display: none;
}
.magnifying-glass {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  color: white;
  font-size: 1rem;
}
.magnifying-glass::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0.7rem;
  height: 0.7rem;
  box-sizing: border-box;
  border: 0.15rem solid currentColor;
  border-radius: 50%;
  background-color: #25282F;  
  content: "";
}
.magnifying-glass::after {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: -1;
  transform: rotate(-45deg);
  width: 0.15rem;
  height: 1rem;
  box-sizing: border-box;
  background-color: currentColor;
  content: "";
}

.batsu {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
 
.batsu::before, .batsu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 1rem;
  background: #333;
}
 
.batsu::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.batsu::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
