<footer class="footer">
  <div class="footer-icon">
    <a href="https://github.com/masamune17/history_map">
      <img class="icon" src="/icons/github.png">
    </a>
    <a href="https://twitter.com/Masamune_catcat">
      <img class="icon" src="/icons/twitter.png">
    </a>
  </div>
  <div class="fotter-text">
    <p>©2021　masamune17</p>
    <a href="/tos">利用規約</a>
  </div>
</footer>
