<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag 'abouts', media: 'all', 'data-turbolinks': 'reload' %>
</head>
<body>
  <header>
    <div class="title-container">
      <a href="/" class="title-logo">
        <img class="logo" src="/icons/mapnica_logo.png">
      </a>
    </div>
  </header>
  <div class="main-container">
    <div class="main-container-items">
      <p class="about-text-title">
       - About -
      </p>
      <p class="about-text-contents">      
        Mapnicaは歴史の出来事を地図上に表示するサービスです<br>
        年代やキーワードで検索することが可能で<br>
        検索した出来事が地図上に表示されます
      </p>
      <p class="use">
        - Use -
       </p>
      <div class="about-logo-button">
        <a href="/">
          <img src="/icons/mapnica_logo.png">
        </a>
      </div>
    </div>    
  </div>
  <footer class="footer">
    <div class="footer-icon">
      <a href="https://github.com/masamune17/history_map">
        <img class="icon" src="/icons/github.png">
      </a>
      <a href="https://twitter.com/Masamune_catcat">
        <img class="icon" src="/icons/twitter.png">
      </a>
    </div>
    <div class="fotter-text">
      <p>©2021　masamune17</p>
    </div>
  </footer>
</body>
