<!DOCTYPE html>
<head>
  <% provide(:title, "About") %>
  <%= stylesheet_link_tag 'abouts', media: 'all', 'data-turbolinks': 'reload' %>
</head>
<body>
  <%= render 'header' %>
  <div class="main-container">
    <div class="main-container-items">
      <p class="about-text-title">
       - About -
      </p>
      <p class="about-text-contents">
        Mapnicaは歴史の出来事を地図上に表示するサービスです<br>
        年代やキーワードでの検索が可能で<br>
        検索した出来事が地図上に表示されます
      </p>
      <p class="use">
        - Use -
       </p>
      <div class="about-logo-button">
        <a href="/">
          <img src="/icons/mapnica_logo.png">
        </a>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</body>
