<% provide(:title, "About") %>
<div class="main-container">
  <div class="static-text">
    <h1>Mapnicaについて</h1>
    <p class="about-text-contents">
      Mapnicaは歴史の出来事を地図上に表示するサービスです。<br>
      年代、キーワードで検索ができ、<br>
      検索した出来事が地図上に表示されます。
    </p>
    <p>
        <%= link_to root_path, class: "about-logo-button" do %>
          <img src="/icons/mapnica_logo.png">
        <% end %>
    </p>
  </div><!-- .static-text -->
</div><!-- .main-containe -->
