body{
  height: 1000px;
}
header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: rgb(126, 126, 126);
}
h1.title{
  font-size: 5vh;
  font-weight: bold;
}
div.main{
  width: 100%;
  height: 90%;
  padding: 0px;
}

div.tag-container{
  width: 100%;
  height: 10%;
  background-color: rgb(0, 255, 13);
}
div.main-container{
  width: 100%;
  height: 90%;
}
div.main-container-left-item{
  float: left;
	width: 30%;
  height: 100%; 
  background-color: rgb(255, 0, 221);
}

div.map-container{
  float: left;
	width: 70%;
  height: 100%;
}
#map{
  width: 100%;
  height: 100%;
  display: inline-block;
}
footer{
  height: 10%;
  background-color: rgb(126, 126, 126);
}
