:root {
  --header-height: 6rem;
  --footer-height: 6rem;
  --main-height: calc(100% - 12rem)
}

@media screen and (max-width: 1024px) {
  :root {
    --header-height: 4rem;
    --footer-height: 4rem;
    --main-height: calc(100% - 8rem)
  }
}

header{
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #25282F;
}

.title-container{
  height: 100%;
  width: 25%;
}

.title-logo{
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.title-logo:hover{
  opacity: 0.7;
}

.logo{  
  height: 100%;
}


footer{
  padding-top: 5px;
  width: 100%;
  height: var(--footer-height);
  text-align: center;
  background-color: #25282F;  
}

.footer-icon{  
  box-sizing: border-box;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  margin: 0 0.5rem;
  height: 2rem;
  width: 2rem; 
}

.fotter-text{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotter-text p{
  height: 80%;
  display: block;
  color: white;
  margin-right: 1rem;
}

.fotter-text a{
  text-decoration: none;
  height: 80%;
  display: block;
  color: white;
}
