<footer class="footer">
  <%= link_to root_path, class: "title" do %>
    <%= image_tag('logo', alt: 'Mapnica', class: 'footer__logo') %>
  <% end %>
  <div class="footer-icons">
    <div class="footer-icons__item">
      <a href="https://github.com/masamune17/history_map" target="_blank" rel="noopener">
        <img class="icon" src="/icons/github.png">
      </a>
    </div>
    <div class="footer-icons__item">
      <a href="https://twitter.com/Masamune_catcat" target="_blank" rel="noopener">
        <img class="icon" src="/icons/twitter.png">
      </a>
    </div>
  </div>
  <div class="fotter-text">
    <small class="footer__copyright">©2021 masamune17</small>
  </div>
</footer>
