<input type="checkbox" id="menu">
<nav class="menu">
  <label class="close-explain-button" for="menu">
    <span class="batsu"></span>
  </label><!-- #close-explain-button -->
  <ul class="menu__inner">
    <li class="menu__item">
      <%= link_to "Map", root_path, class: "menu__link"%>
    </li>
    <li class="menu__item">
      <%= link_to "Mapnicaについて", about_path, class: "menu__link"%>
    </li>
    <li class="menu__item">
      <%= link_to "利用規約", tos_path, class: "menu__link"%>
    </li>
  </ul>
</nav>
